body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    max-width: 75%;
    margin: 0;
}

.banner-buttons {
    display: flex;
    align-items: center;
}

.banner-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
}

.banner-buttons button:first-child {
    margin-left: auto;
}

main {
    padding: 20px;
}

.login-form,
.signUp-form,
.options {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
}

.login-form label,
.signUp-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.login-form input,
.signUp-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-form button,
.signUp-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    margin-left: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
  }
.quiz-buttons {
    display: flex;
    justify-content: center; /* Align buttons in the center */
    width: 80%; /* Adjust width as desired */
    margin: 20px auto; /* Center horizontally and add margin from top */
}

.quiz-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Add padding for better appearance */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
    margin: 0 10px; /* Add space between buttons */
}

.quiz-button:hover {
    background-color: #45a049; /* Darken the button color on hover */
}


.navigation-buttons {
    position: absolute;
    top: 10px; 
    right: 10px;
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    flex-direction: row; 
    align-items: center;
}

.navigation-buttons button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

.navigation-buttons button:hover {
    background-color: #45a049;
}

.buttons-container {
    display: flex;
    justify-content: center; /* Use flexbox to make the buttons display side by side */
    align-items: center;
}

.arrow-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px; /* Add some margin to create space between the buttons */
}

.separator {
    color: white;
    font-size: 18px;
    margin: 0 5px; /* Add margin to create space around the separator */
}

.arrow-button:hover {
    background-color: #45a049;
}


#content {
    margin-left: 350px; /* Adjust the margin-left to create space */
    max-width: fixed;
    max-height: fixed;
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
  }
  
  #sectionTitle {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  #narrative {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  #pageContent {
    margin-top: 45px;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
  }
  
  #sectionImage {
    max-width: 100%;
    height: fixed;
    margin-top: 20px;
  }
  
  .audio-button-container {
    margin-top: 20px;
  }
  
  .audio-button-container button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #45a049;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .audio-button-container button:hover {
    background-color: #357934;
  }

  .interactive-component-container {
    margin-top: 20px; /* Add margin at the top for spacing */
}

.interactive-component-container h2 {
    font-size: 20px; /* Adjust heading font size */
    margin-bottom: 10px; /* Add some space below the heading */
}

.interactive-component-container label {
    display: block; /* Ensure labels are displayed as blocks for proper alignment */
    margin-bottom: 5px; /* Add some space below each label */
}

.interactive-component-container input[type="text"],
.interactive-component-container input[type="number"] {
    width: 20%; /* Make input fields fill the container width */
    padding: 8px; /* Add padding for better appearance */
    margin-bottom: 10px; /* Add some space below each input field */
}

.interactive-component-container button {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Add padding for better appearance */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
    margin-right: -8%;
}

.interactive-component-container button:hover {
    background-color: #45a049; /* Darken the button color on hover */
}

.interactive-component-container #result {
    margin-top: 10px; /* Add some space above the result paragraph */
}

  
#moduleList {
    float: left;
    margin-top: 20px;
    max-width: fit-content;
}
  
.module-table {
    width: auto;
    border-collapse: collapse;
}
  
.module-table th, .module-table td {
    padding: 10px;
    border-bottom: 1px solid #45a049;
}
  
.module-table th {
    background-color: #45a049;
}
  
.module-table tr:last-child td {
    border-bottom: none;
}
  
.module-dropdown {
    display: none;
    border: 1px solid #45a049;
    border-radius: 5px; 
    padding: 10px;
    width: min-content; 
    max-width: 200px; 
    margin-right: 20px;
    box-sizing: border-box; 
}

  
.module-dropdown select {
    width: min-content;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}
  
.module-dropdown select option {
    padding: 5px;
}
  
.question {
    margin-bottom: 20px;
    text-align: center;
    width: 80%; /* Set a fixed width */
    margin: 0 auto; /* Center the question horizontally */
    padding: 20px; /* Add padding for better appearance */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add rounded corners */
}

.question p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.question-list {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
}

.options {
    display: fixed;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
}

.option {
    margin: 5px;
    padding: 10px;
    border: 2px solid #000000;
}

.option:hover {
    background-color: #4CAF50;
}

.option.selected {
    background-color: #4CAF50; /* Change background color to a light gray */
    color: #333; /* Change text color to a darker shade */
    border: 1px solid #ccc; /* Add a border to visually highlight the selected option */
}


.progress {
    width: 100%;
    background-color: #f8f9fa; /* Background color of the progress bar container */
}
  
.progress-bar {
    background-color: #4CAF50; /* Color of the progress bar */
    height: 20px; /* Height of the progress bar */
}

.module-info {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 50%;
    border-radius: 5px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .module-info h3 {
    color: #333;
  }
  
  .module-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .module-info ul li {
    margin-bottom: 5px;
  }
  
  /* Style for brief-description */
  .brief-description {
    background-color: #f9f9f9;
    max-width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .brief-description h2 {
    color: #333;
  }
  
  .brief-description p {
    color: #666;
  }
